.wrapper {
  display: flex;
  height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: #f7f8fa;
}

.leftSection {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 20px;
}

/* Contêiner da imagem, que permite sobrepor o texto */
.imageContainer {
  position: relative;
  width: 100%;
  max-width: 500px; /* Controla o tamanho da imagem */
}

/* Texto sobreposto à imagem */
.inspirationalText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  padding: 10px 20px;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Fundo semitransparente para legibilidade */
  border-radius: 8px;
}

/* Estilo da imagem */
.image {
  width: 100%;
  height: auto;
  border-radius: 15px;
}
.rightSection {
  flex: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 37px;
  background-color: #ffffff;
}

.title {
  font-size: 2.2rem;
  color: #333333;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.form {
  width: 100%;
  max-width: 400px;
}

.label {
  font-size: 0.85rem;
  color: #8a94a6;
  margin-top: 8rem;
}

.input {
  width: 100%;
  padding: 12px;
  margin-top: 0.5rem;
  margin-bottom: 0.9rem;
  box-sizing: border-box; /* Lembre-se de usar box-sizing: border-box; em elementos que causam overflow devido a margins/padding */
  border-radius: 8px;
  border: 1px solid #d1d7df;
  background-color: #f7f8fa;
  font-size: 1rem;
  color: #333333;
}

.input::placeholder {
  color: #b0b8c1;
}

.button {
  width: 100%;
  padding: 12px;
  margin-top: 0.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}
