.navbar {
  background-color: var(--color-background);
  color: #fff;
  padding: 0.6rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}
.leftnavbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.centernavbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.rightnavbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link {
  color: #fff;
  text-decoration: none;
  padding: 0rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nome {
  margin: 0;
  margin-right: 1rem;
  font-weight: 600;
}
.logo svg {
  width: 50px;
  height: auto;
}

/* Optional: Add hover effect */
.logo svg:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
