.jobcontainer {
  background: #ffffff;
  border: 1px solid #e0e0e0;
  margin: 8px;
  border-radius: 12px;
  padding: 16px;
  width: 100%;
  height: 200px;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.headercontainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.titlejobofferandlogo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.company-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.joboffertitle {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
  margin: 0;
}

.tagcontainerexperiencelevel {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.jobdescriptioncontainer {
  margin-top: 8px;
}

.jobdescription {
  font-size: 12px;
  color: #555555;
  line-height: 1.4;
  margin: 0;
}
.tag {
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  font-size: 14px;
  display: inline-block;
  color: white;
}

.fullTime {
  background-color: #4caf50; /* Verde para Full-Time */
}

.partTime {
  background-color: #ff9800; /* Laranja para Part-Time */
}

.entryLevel {
  background-color: #a41dbc; /* Roxo para Entry Level */
}

.senior {
  background-color: #f44336; /* Vermelho para Senior */
}
