.filtersinterfacecontainer {
  padding: 20px;
  width: 250px;
}

.filterGroup {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.jobfilterheader {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; /* Optional: space between header and filter options */
}

.clearAllButton {
  color: #e53e3e;
  display: flex;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.clearAllButton:hover {
  background-color: #c53030;
}

/*  TODO :Media query para telas menores, como tablets e mobile */
