.mobileFilterButton {
  background-color: var(--color-accent);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 15px;
}

.mobileFilterButton:hover {
  background-color: var(--color-accent);
}

.filtersContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.filtersContainer.hide {
  display: none;
}

.filtersContainer.show {
  display: flex;
}

@media (max-width: 768px) {
  .mobileFilterButton {
    display: block;
  }

  .filtersinterfacecontainer {
    width: 100%;
    padding: 15px;
  }
}
